# Linux host permissions fix (when container runs as user mssql/UID 10001):
# sudo mkdir -p sql-data
# sudo chown -R 10001:0 sql-data
# sudo chmod -R g+rwx sql-data
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssqlserver-Standard
    ports:
      - "1433:1433"
    env_file:
      - .env
    environment:
      - ACCEPT_EULA=${ACCEPT_EULA}
      - MSSQL_PID=${MSSQL_PID_KEY:-Standard}
      - SA_PASSWORD=${SA_PASSWORD}  # cambia si quieres
      # Nota: la contrasena de sa debe cumplir complejidad (min. 8, mayuscula, minuscula, digito y simbolo).
      # Si usas una que no cumple, el contenedor se apaga.
    volumes:
      - ./sql-data:/var/opt/mssql
    restart: always
