services: # Servicios del contenedor
  sqlserver: # Servicio de SQL Server
    image: mcr.microsoft.com/mssql/server:2022-latest # Imagen de SQL Server 2022
    container_name: mssqlserver-developer-edition # Nombre del contenedor
    ports: # Puertos expuestos
      - "1433:1433" # Puerto para SQL Server
    environment: # Variables de entorno
      - ACCEPT_EULA=Y # Acepta condiciones de uso
      - MSSQL_PID=Developer # Usa la edición Developer
      - SA_PASSWORD=P@ssw0rd_Str0ng!  # cambia si quieres
      #Nota: la contraseña de sa debe cumplir complejidad (mín. 8, mayúscula, minúscula, dígito y símbolo). 
      #Si usas una que no cumple, el contenedor se apaga.
    volumes: # Volúmenes para persistencia de datos
      - sql-data:/var/opt/mssql # Volumen para datos de SQL Server
    restart: always # Reinicia el contenedor automáticamente

volumes: # Volúmenes para persistencia de datos
  sql-data: # Volumen para datos de SQL Server
